body{
    background-color: #b7b7a4 !important;
}

#about, #rat{
    color: white;
    font-size: 20px;
    font-family: 'Spartan', sans-serif;
}
#rat{
    font-weight: bolder;
}
a{
    color: #14213d !important;
}
a:hover{
    color: #cbd5e0 !important;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-github {
    background: #212529;
    color: white;
    font-size: 18px;
  }

  .fa-linkedin {
    background: #00547a;
    color: white;
    font-size: 18px;
  }


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #457b9d;
    color: white;
    font-family: 'Spartan', sans-serif;
    text-align: center;
    padding-top: 10px;
 }

 .footer {
    /* position: relative; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    opacity: .3;
 }

 #home-title{
     font-size: 80px;
     font-family: 'Rajdhani', sans-serif;
     font-weight: bold;
 }

 @media only screen and (max-width: 600px) {
    #home-title {
      font-size: 50px;
    }
  }

 .home-para{
     font-size: 25px ;
 }

 @media only screen and (max-width: 600px) {
    .home-para {
      font-size: 20px;
    }
  }
 
 .my-link:hover{
    opacity: .5;
 }

 .submission{
   width: 75%;
 }
 #piechart{
  width: 400px;
  /* width: 450px; */
  /* height: 350px; */
  
  overflow: hidden;
 }

  /* @media only screen and (max-width: 600px) {
    #piechart{
      width: 250px !important;
    }
  }

  @media only screen and (max-width: 600px) {
    #barchart-index{
      padding: 0;
      width: 50px !important;
    }
  }
  @media only screen and (max-width: 600px) {
    #barchart-rating{
      padding: 0;
      width: 50px !important;
    }
  } */

 